body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameWrapper {
    display: grid;
    grid-template-columns: 17.8fr 7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "Map Store";
    width: 100%;
    height: 100%;
    .Map {
        grid-area: Map;
    }
    .Store {
        grid-area: Store;
    }
}