body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // darksky
    background-image: url("../resources/dennis-rochel-BewQ-RbULP4-unsplash.jpg");
    background-size: cover;

    //bluesky
    // background-image: url("../resources/dave-hoefler-ELXbHhzVFO0-unsplash.jpg");
    // background-size: cover;

    // redsky
    // background-image: url("../resources/vivek-doshi-obsBswnv7FI-unsplash.jpg");
    // background-size: cover;
}

.gameWrapper {
    display: grid;
    grid-template-columns: 17.8fr 5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "Map Store";
    width: 100%;
    height: 100%;
    .Map {
        grid-area: Map;
    }
    .Store {
        grid-area: Store;
    }
}