.Map {
    border: 3px solid magenta;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    .robotGeneratorWrapper {
        border: 3px solid black;
        position: absolute;
        left: 45%;
        top: 50%;
        z-index: 1;
        div{
            margin-top: 10px;
        }
    }
    .imgCloud{
        width: 10%;
        height: 10%;
        z-index: 1;
        position: fixed;
    }
    .Planet{
        height: 200%;
        width:  200%;
        background-color: red;
        position: fixed;
        border-radius: 50%;
        z-index: 0;
        top: 200px;
        right: 50px;
        
        
    }
}