.Store {
    border: 3px solid red;
    height: 100vh;
    background-color: lightblue;
    box-sizing: border-box;
    z-index: 2;
<<<<<<< Updated upstream
    .btnContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        .btn {
            border: 2px solid black;
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 2px 1px;
            grid-template-areas: "icon name amount";
            width: 100%;
            height: 10%
=======
    .buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        .addOnBtn {
            display: flex;
            flex-direction: row;
            background-color: maroon;
>>>>>>> Stashed changes
        }
    }
}